.icon-archive {
  background-image: url('/assets/images/archive.jpg');
}

.icon-directory {
  background-image: url('/assets/images/directory.png');
}

.icon-executable {
  background-image: url('/assets/images/executable.png');
}

.icon-font {
  background-image: url('/assets/images/font.png');
}

.icon-music {
  background-image: url('/assets/images/music.png');
}

kbd {
  display: inline-block;
  padding: 0.2em 0.4em;
  font-size: 80%;
  color: #fff;
  background-color: #555;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  margin: 0;
}

