<thead>
  <tr>
    <td class="file-info file-icon"></td>
    <td class="file-info file-name">名称</td>
    <td class="file-info file-type">类型</td>
    <td class="file-info file-version">版本</td>
    <td class="file-info file-date">更新日期</td>
    <td class="file-info file-description">备注</td>
  </tr>
</thead>
<tbody id="file-row"></tbody>

<style>
  #file-list {
    border-bottom: 0.1rem groove black;
  }

  .file-info {
    padding-top: 0.3rem;
    padding-right: 0.5rem;
    /* border-bottom: 0.1rem groove black; */
  }

  .file-icon {
    width: 1rem;
    margin-top: 0.3rem;
    background-repeat: no-repeat;
    background-size: contain;
  }

</style>
